data/
legacy/
examples/
*.mat
*.zip
*.asv
*.mexw64
*.slxc
slprj/
codegen_mex*/
fast_disk_mex*/
current_heli_lookup_data*/
tmp_*
*_summary.txt
*_results.txt
response_zero_input_*.png
results_lookup*/
results_*/
*_logs/
vtol_bemt_*_with_data*/
tp*/
excel_vs_txt_*.txt
full_lookup_*.csv
